# python
__pycache__
*.pyc
*.pyd
*.so
*.o
*.def
*.egg-info
.coverage
.pytest_cache
.env
venv
build
dist
.mypy_cache

# ides
.vscode
.favorites.json
.idea
*.swp

# Mac
.DS_Store

# files
*.log
data-test
coverage.xml